h3 {
  padding: 10px;
  margin: 0;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}
.main-points {
  display: flex;
  margin-left: 300px;
  margin-right: 300px;
  justify-content: center;
  text-align: center;
}
.point {
  padding: 10px;
  width: 400px;
}
.carousel {
  height: 400px;
  text-align: center;
  background-image:
  url(../img/office.webp);
  opacity: 0.6;
}
.foot {
  display: flex;
  margin-left: 300px;
  margin-right: 300px;
  justify-content: center;
}
.foot-info {
  border: 1px solid silver;
  padding: 5px;
  margin: 5px;
}
#formulario {
  display: table;
  margin: auto;
}
h1, h2 {
  text-align: center;
}
table {
  margin: 0 auto;
  border: 1px solid silver;
}
th {
  border: 1px solid silver;
}
#edit {
  background-color: yellow;
}
#delete {
  background-color: red;
  color: white;
}
